@import "./variables";
@import "./mixins";
@font-face {
  font-family: "ArcadClassic";
  src: local("ArcadClassic"),
    url(../../fonts/ARCADECLASSIC.TTF) format("truetype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include media(laptop) {
    font-size: 72.5%;
  }
}

body {
  background-color: #000c4f;
  font-family: "ArcadClassic", Helvetica, sans-serif;
  word-spacing: 0.75rem;
  font-size: 1.4rem;
  color: $off-white;
}
