// Colors
$anthracite-grey: #141414;
$midnight-blue: #000c4f;
$dark-grey: #33373a;
$light-grey: #a0a0a0;
$off-white: #f1f1f1;
$transparent-white: rgba(255, 255, 255, 0.25);
$transparent-white-active: rgba(255, 255, 255, 0.75);
