@import "../../_settings/variables";

.footer {
  height: 50px;
  width: 100%;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;

  &_copyright,
  &_github {
    color: $light-grey;
    font-weight: lighter;
    font-size: 1.2rem;

    & svg {
      height: 1rem;
    }

    &_link {
      text-decoration: underline $transparent-white;
    }
  }
}
