.space {
  width: 100%;
  height: 100%;
  position: relative;
  // background-color: #ffff00;

  &_planet {
    position: absolute;
    width: 150px;
    right: 5%;
    top: 15%;
    animation: planetRotate 30s infinite linear;
  }

  &_asteroid1 {
    position: absolute;
    width: random(40) + 70 + px;
    left: 2%;
    top: 25%;
    animation: rotateRight random(50) + 30 + s infinite linear;
  }

  &_asteroid2 {
    position: absolute;
    width: random(40) + 50 + px;
    left: 25%;
    top: 0%;
    animation: rotateRight random(50) + 30 + s infinite linear;
  }

  &_asteroid3 {
    position: absolute;
    width: random(40) + 70 + px;
    left: 37.5%;
    top: 70%;
    animation: rotateLeft random(50) + 30 + s infinite linear;
  }

  &_asteroid4 {
    position: absolute;
    width: random(40) + 50 + px;
    right: 25%;
    top: 40%;
    animation: rotateRight random(50) + 30 + s infinite linear;
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
