.game {
  width: 100%;
  height: calc(100vh - 130px);
  position: relative;

  &_map {
    height: 80%;
    width: 100%;
    position: relative;
    background-color: #000c4f;
  }

  &_ground {
    height: 20%;
    width: 100%;
    background-color: #33373a;
    position: absolute;
    bottom: 0;
  }

  &_volcano {
    position: absolute;
    width: 25%;
    bottom: 20%;
    left: 65%;
    transform: translate(-50%);
  }

  &_score {
    position: absolute;
    font-size: 2.5rem;
    right: 5%;
    z-index: 150;
  }

  &_gameover {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    z-index: 150;
  }
}

@keyframes fly {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 10px;
  }
  50% {
    bottom: 0px;
  }
  75% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}

.unicorn {
  width: 80px;
  height: 90px;
  // background-color: brown;
  position: absolute;
  bottom: 0;
  left: 60px;
  animation: fly infinite 2s ease-in;
  z-index: 150;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.obstacle {
  width: 60px;
  height: 60px;
  // background-color: orange;
  position: absolute;
  bottom: 0;
  animation: bounce infinite 2s;
  z-index: 150;
}
